.min-width {
  min-width: 4rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      49% 81% at 45% 47%,
      #03f3ff45 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #00e4ffbd 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #00d0ffb8 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #0012ffff 2%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, #0054ffff 0%, #ff0000ff 100%); */
}

.min-height {
  min-height: 15rem;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.4fr 0.6fr;
  gap: 0px 1%;
}

.habit:not(:first-child) {
  margin-top: 0.5rem;
}

.card-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.4fr 1.6fr;
  gap: 0px 1%;
}

.statistic-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  grid-auto-rows: 1fr;
  gap: 10px 18px;
  grid-auto-flow: column;
  grid-template-areas:
    '.'
    '.';
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.checkbox {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 2rem;
  color: var(--color);
}
.checkbox--disabled {
  color: var(--disabled);
}

.checkbox__control {
  display: inline-grid;
  width: 2rem;
  height: 2rem;
  border-radius: 0.2em;
  border: 0.06em solid currentColor;
}
.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox__input {
  display: grid;
  grid-template-areas: 'checkbox';
}
.checkbox__input > * {
  grid-area: checkbox;
}
.checkbox__input input {
  opacity: 0;
  width: 2rem;
  height: 2rem;
}
.checkbox__input input:focus + .checkbox__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}
.checkbox__input input:checked + .checkbox__control svg {
  transform: scale(1);
}
.checkbox__input input:disabled + .checkbox__control {
  color: var(--disabled);
}
