.min-width {
  min-width: 4rem;
}

html {
  scroll-behavior: smooth;
}

.min-height {
  min-height: 15rem;
}

.min-h {
  min-height: 7rem;
}

.edit-mode {
  bottom: -10px;
  right: 0;
}

.error-msg {
  top: -25px;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.4fr 0.6fr;
  gap: 0px 1%;
  max-width: 90%;
  margin: auto;
}

.cursor-hand {
  cursor: grab;
}

.created-habit:not(:first-child) {
  margin-left: 1rem;
}

.created-habit {
  margin: 0.5rem;
}

.chdb {
  top: -6px;
  right: -6px;
  visibility: hidden;
}

.chdb-hover:hover .chdb {
  visibility: visible;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.created-habit:first-child {
  margin-top: 0.5rem;
}

.habit:not(:first-child) {
  margin-top: 0.5rem;
}

.card-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.2fr 1.6fr;
  gap: 0px 1%;
}

.day-card-header {
  min-width: 6rem;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 95%;
  }

  .sticky {
    position: relative;
  }
}

/* .statistic-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  grid-auto-rows: 1fr;
  gap: 10px 18px;
  grid-auto-flow: column;
  grid-template-areas:
    '.'
    '.';
} */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.checkbox {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 2rem;
  color: var(--color);
}
.checkbox--disabled {
  color: var(--disabled);
}

.checkbox__control {
  display: inline-grid;
  width: 2rem;
  height: 2rem;
  border-radius: 0.2em;
  border: 0.06em solid currentColor;
}
.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox__input {
  display: grid;
  grid-template-areas: 'checkbox';
}
.checkbox__input > * {
  grid-area: checkbox;
}
.checkbox__input input {
  opacity: 0;
  width: 2rem;
  height: 2rem;
}

/* .checkbox__input input:focus + .checkbox__control { */
/* box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor; */
/* } */
.checkbox__input input:checked + .checkbox__control svg {
  transform: scale(1);
}
.checkbox__input input:disabled + .checkbox__control {
  color: var(--disabled);
}

.indicator {
  top: -5px;
  right: -5px;
}

.hideButton {
  top: -4rem;
}
